:root {
    --main-text-color: #2E2F42;
    --second-text-color: #434455;
    --main-bg-color: #fff;
    --second-bg-color: #f4f4fd;
    --btn-bg: #f4f4fd;
    --btn-bg-active: #404BBF;
    --btn-text-color: #4D5AE4;
    --btn-text-color-active: #FFF;
    

}
body {
    font-family:'Roboto', sans-serif;  
    font-style: normal;
    color: #2E2F42;
    background-color: #FFFFFF;
   }
.list-without {
    list-style: none;
}
.list-without-dash {
    text-decoration: none;
}

.menu-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.blue-word  {
    color: #4D5AE5;
}

.menu-nav {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--main-text-color)
}
.contact-info {
font-style: normal;
font-size: 16px;
line-height: 1.5;
color: var(--main-text-color)
}
.main-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.button-order {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
background: #4D5AE5;
color: #FFFFFF;
}
.button-order :focus
.button-order :hover {
    background-color: #404BBF;
    cursor: pointer;
}
.header-third {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.descr-first {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--second-text-color)
}
.header-second {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.employee {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-text-color);
}
.employee-position {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--second-text-color)
}

.menu-logo-second {
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
.descr-logo {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}
/*============ Wrapper==========  */
.wrapper-dark {
    width: 1440px;
    /* height: 600px; */
    background: #2E2F42;
}

.wrapper-light {
 width: 1440px;
background: var(--second-bg-color);
}

.wrapper-footer {
width: 1440px;
/* height: 310px; */
background: #2E2F42;
}

/*=========== Button-portfolio======== */
.button-portfolio {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #4D5AE5;
background-color: var(--second-bg-color);
border: 1px; #E7E9FC;
}
.button-portfolio :hover
.button-portfolio :focus 

.project {
    color: #2E2F42;
}

.project-descr {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--main-text-color)
}
.project-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--second-text-color)
}